:host(app-image-list) {
    width:100%;
    border:3 solid white;
    background-color:bisque;
}
section {
    vertical-align: bottom;
    position: relative;
    height:200px;
}
.box {
    position: absolute;
    overflow: hidden;
    border: 1px solid white;
}
.comment {
    width:100%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: aquamarine;
}