<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        Welcome to {{ title }}! 
        <h4>Here are Albums of year 2017: {{info.album_name}}</h4>
    </div>
    <span class="navbar-brand"><img src='favicon.ico'></span>
  </div>
<ul class="nav">
  <li class="active">
      <button>menu1</button>
  </li>
  <li class="dropdown">
    <button #btn_slide (click)="info.navigate('slide')" disabled>슬라이더</button>
  </li>
  <li class="dropdown">
    <button (click)="info.navigate('home')">이미지보기</button>
  </li>
</ul>
</div>

<router-outlet></router-outlet>


