.thumb {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin:0;
    height:85%;
}
.on {
    border: 4px;
    border-style: solid;
    border-color:chartreuse;
    padding:3px 0px;
}
.off {
    padding:3px 0px;
}