<div class="container-fluid header">
  <button (click)="routing('home')">뒤로가기</button>

  <select (ngModelChange)="onChange01()" [(ngModel)]="slideDirection">
    <option *ngFor="let direction of ['right','left']" [value]="direction">{{direction}}</option>
  </select>

  <button (click)="change_mode()">{{op_mode['txt']}}</button>
</div>
<div class="container-fluid slider">
  <input type="image" [src]="path" height="100%" [ngClass]="getClass()" disabled> 
</div>
<div class="container-fluid footer rounded-circle">
  <app-slide-thumbnail-list [list]="images" [ix]="tiktok" [dir]="slideDirection" (onEmit01)="onEmit01($event)" (onEmit02)="onEmit02($event)">0</app-slide-thumbnail-list>
</div>
